 .windows {
    --monaco-monospace-font: "Fira Code" !important;
    font-family: "Noto Sans" !important;
}

.shadow-root-host {
    font-family: "Noto Sans" !important;
}

/* lmao, no space between div[ means something different than  */
div.view-lines.monaco-mouse-cursor-text[style*='font-family: "Segoe WPC"'] {
    font-family: "Noto Sans" !important;
} 
